<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>
<!--整体样式：包裹在容器中 居中-->
<body class="container">
    <h3>修改嘉宾</h3>
    <!--修改 嘉宾 角色-->
    <!--对form使用选择变量表达式-->
    <form th:action="@{/guest/update}" th:object="${guest}" method="post" class="form-horizontal ">
        <div class="form-group">
            <label class="col-sm-2">名字：</label>
            <!--姓名框：只读-->
            <input type="text" id="name" name="name" th:value="*{name}" readonly class="form-control">
        </div>

        <div class="form-group">
            <label class="col-sm-2">角色：</label>
            <input type="text" id="role" name="role" th:value="*{role}" class="form-control">
        </div>
        <div class="form-group">
            <div class="offset-sm-2 col-sm-2">
                <input type="submit" value="提交">
            </div>
        </div>
    </form>
</body>
</html>