<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">

</head>
<body class="container">
<h3>修改嘉宾</h3>
<form th:action="@{/guest}" th:object="${guest}" method="post">
    <input type="hidden" name="_method" value="put">
    <label>名字：</label>
    <input type="text" id="name" name="name" th:value="*{name}" readonly>
    <label>角色：</label>
    <input type="text" id="role" name="role" th:value="*{role}">
    <input type="submit" value="提交">
</form>
</body>
</html>